#back {
    font-size: .8rem;
    margin-bottom: 1rem;
    display: block;
}

#results {
    margin: 0 auto;
}
#results h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#results li {
    list-style-type: none;
    margin: 10px 0;
}


