#profileDiv {
    max-width: 500px;
    padding: 2rem 1rem;
    margin: 0 auto;
    text-align: center;
}

#profileDiv h2 {margin-bottom: 6px;}

#profile-img {
    width: 100%;
    height: auto;
    border: 1px solid #878b8f;
}

a, a:visited {
    text-decoration: none;
    color: #477baf;
}

.profile {
    font-weight: 700;
    font-size: 1.5rem;
}

#profileDiv input[type=text] {
    padding: 5px 80px 5px 8px;
    font-style: italic;
    font-size: 50%;
}

.submitButton {
    background: #474b4f;
    color: #fff;
    font-size: 50%;
    border: none;
    margin: 5px 0 0 5px;
    padding: 5px 8px;
}